{
  "extends": "airbnb",
  "rules": {
    "func-names": ["error", "never"],
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  }
}