.osd-sidebar {
  padding-top: 50px;
  height: 100%;
  background-color: #262425;
  color: #ffffff;
}

.osd-sidebar ul {
  list-style: none;
  margin: 0;
}
.navigator-wrapper {
  background: #000;
  overflow: hidden;
  width: 166px;
  height: 178px;
  border: solid 0px #ffffff;
}
.osd {
  background-color: black;
  padding: 0;
}
.osd-toolbar {
  padding: 0;
  position: absolute;
  top: 0;
}
.osd-toolbar li {
  display: inline-block;
}
.osd-toolbar > li {
  list-style: none;
}
.osd-toolbar a {
  z-index: 1;
  width: 30px;
  height: 30px;
  font-height: 30px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  margin-right: 1px;
  cursor: pointer;
  text-align: center;
}
.osd-toolbar a:hover {
  background: rgba(158, 46, 0, 0.6);
  text-decoration: none;
}
.osd-toolbar a > i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  padding-top: 2px;
}
.openseadragon {
  height: 500px;
}
.image-nav {
  margin-bottom: 10px;
}
.image-nav ul {
  margin-left: 15px;
}
.toc-select {
  margin-top: 10px;
}
.toc-select label {
  margin-right: 5px;
}

.page-button {
  white-space: normal;
}

.viewer-sidebar .nav {
  font-size: .8em;
  margin: 0;
  padding: 0;
  width: 100%;

}

.viewer-sidebar {
  text-align: center;  
}

.viewer-sidebar {
  padding: 0;
}

.viewer-sidebar .nav-tabs {
  margin-bottom: 15px;
}

.viewer-sidebar .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a
{
    margin-top: 1px;
}
.viewer-sidebar .nav-tabs > li {
    margin-bottom: 0px; 
}
.viewer-sidebar .nav-tabs > li.active {
    margin-bottom: -1px;    
}

.osd-sidebar ul {
  padding: 0;
}

.page-button.active{
  background-color: #fff;
}
