.osd-sidebar {
  padding-top: 50px;
  background-color: #262425;
  width: 100%;
}

.osd-sidebar ul {
  list-style: none;
  margin: 0;
}

.navigator-wrapper {
  background: #000;
  overflow: hidden;
  width: 166px;
  height: 178px;
  border: solid 0px #ECEDF0;
}

.osd {
  background-color: black;
  padding: 0;
}

.osd-row {
  overflow: hidden;
}

.osd-toolbar {
  padding: 0;
  position: absolute;
  top: 0;
}

.osd-toolbar li {
  display: inline-block;
}
.osd-toolbar > li {
  list-style: none;
}
.osd-toolbar a {
  z-index: 1;
  width: 30px;
  height: 30px;
  font-height: 30px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  margin-right: 1px;
  cursor: pointer;
  text-align: center;
}
.osd-toolbar a:hover {
  background: rgba(158, 46, 0, 0.6);
  text-decoration: none;
}
.osd-toolbar a > i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  padding-top: 2px;
}

.image-nav {
  margin-bottom: 10px;
}
.image-nav ul {
  margin-left: 15px;
}

.page-button {
  white-space: normal;
}

.osd-sidebar .nav {
  font-size: .8em;
  margin: 0;
  padding: 0;
  width: 100%;
}

.osd-sidebar-header {
  height: 175px;
  background-color: #262425;
  padding: 10px;
  text-align: center;
}

.osd-sidebar-footer {
  height: 400px;
}

.osd-sidebar {
  text-align: center;
  height: 350px;
  padding: 15px;
  overflow: scroll;
}

.osd-sidebar .nav-tabs {
  margin-bottom: 15px;
}

.osd-sidebar .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a
{
  margin-top: 1px;
}
.osd-sidebar .nav-tabs > li {
    margin-bottom: 0px;
}
.osd-sidebar .nav-tabs > li.active {
    margin-bottom: -1px;
}

.osd-sidebar ul {
  padding: 0;
}

.osd-sidebar .btn {
  white-space: normal;
}

.osd-sidebar .btn:hover {
  color: #337ab7;
  background-color: #fff;
}

.osd-sidebar .page.active {
  background-color: #ECEDF0;
}

.page-search .glyphicon-search {
  color: #2b292a;
}

.osd-search-highlight {
  font-style: italic;
  font-weight: bold;
}

.sidebar-list-item {
  border-bottom: 1px solid #ECEDF0;
  padding: 10px 0 10px;
}

.view-text {
  margin: 15px;
}
